.navbarColor {
  background-color: #101d29 !important;
}
.rightNavbar {
  color: #e9f0f7 !important;
}
.koompi-steam-logo {
  position: relative;
  top: 5px;
}
.MuiToolbar-regular-45 {
  min-height: 40px;
}
.Navbar-toolbar-6 {
  min-height: 0px;
}
.MuiTypography-subheading {
  color: #fff !important;
  margin: 0px !important;
  position: relative;
  top: 4px;
  left: 10px;
  font-weight: 600;
}
.Navbar-drawerPaper-4 {
  background-color: #101d29;
}
.btnPadding {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 0px;
}
